{{#section 'css'}}
<title>Cooking</title>
{{/section}}

<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5">
        {{#each lcCategories}}
        <div class="sidebar-filter">
          <div class="top-filter-head">{{namecategory}}</div>
          <ul class="main-categories">
            <li class="common-filter">
              <form action="#">
                <div class="btn-group-vertical w-100">
                  {{#each level2}}
                  <a href="/category/bytopic/{{categoryid}}/{{id}}"
                    class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
                    {{nametopic}}
                  </a>
                  {{/each}}


                </div>
              </form>
            </li>
          </ul>
        </div>
        {{/each}}

      </div>
      <div class="col-xl-9 col-lg-8 col-md-7">
        <!-- Start Filter Bar -->
        {{#if checksearch}}
        <div class="filter-bar d-flex flex-wrap align-items-center">
          <form action="/search" method="GET" id="filterTool">
            <div class="sorting">
              <select id="order" name="order" onchange="this.form.submit()">
                {{#if rating}}
                 <option value="rating">Đánh giá giảm dần</option>
                <option>Mặc đinh</option>
                <option value="price">Giá tăng dần</option>
                {{else}}
                {{#if price}}
                <option value="price">Giá tăng dần</option>
                <option>Mặc định</option>
                <option value="rating">Đánh giá giảm dần</option>
                {{else}}
                <option>Mặc định</option>
                <option value="rating">Đánh giá giảm dần</option>
                <option value="price">Giá tăng dần</option>
                {{/if}}
                {{/if}}

              </select>
              <input class="d-none" type="text" name="searching" id="searching" value="{{this.searching}}" />
            </div>
          </form>
        </div>
        {{else}}
        <div class="filter-bar d-flex flex-wrap align-items-center">
          <div class="sorting" style="height: 35px;">
          </div>
        </div>
        {{/if}}
        <!-- End Filter Bar -->
        <!-- Start Best Seller -->
        <section class="lattest-product-area pb-40 category-list">
          <div class="row">
            {{#if this.empty}}
            <p style="height: 300px; width:max-content">Nothing to show , research with another word</p>
            {{else}}
            {{#each this.course}}
            <div class="col-md-6 col-lg-4">
              <div class="card text-center card-product">
                <div class="card-product__img">
                  <img class="card-img" src="{{imagepath}}" alt="">
                  <ul class="card-product__imgOverlay">
                    <li><button onclick="location.href='/courses/{{id}}'"><i class="ti-search"></i></button></li>
                    <li><button class="add-to-cart" data-id="{{id}}"><i class="ti-shopping-cart"></i></button></li>
                    <li><button class="add-to-favorite" data-id="{{id}}"><i class="ti-heart"></i></button></li>
                  </ul>
                </div>
                <div class="card-body">
                  
                  <h4 class="card-product__title"><a href="/courses/{{id}}">{{namecourse}}</a></h4>
                  <p class="card-product__price">{{sumary}}</p>
                </div>
              </div>
            </div>
            {{/each}}
            {{/if}}
            {{!-- <div class="col-md-6 col-lg-4">
              <div class="card text-center card-product">
                <div class="card-product__img">
                  <img class="card-img" src="/img/product/product1.png" alt="">
                  <ul class="card-product__imgOverlay">
                    <li><button><i class="ti-search"></i></button></li>
                    <li><button><i class="ti-shopping-cart"></i></button></li>
                    <li><button><i class="ti-heart"></i></button></li>
                  </ul>
                </div>
                <div class="card-body">
                  <p>Accessories</p>
                  <h4 class="card-product__title"><a href="/detailCourse">Quartz Belt Watch</a></h4>
                  <p class="card-product__price">$150.00</p>
                </div>
              </div>
            </div> --}}



          </div>
          <nav>
            <ul class="pagination justify-content-center">

              <li class="page-item {{#unless this.can_go_prev}} disabled {{/unless}}">
                <a class="page-link" href="?page={{prev_val}}" tabindex="-1" aria-disabled="true">
                  <i class="fa fa-backward" aria-hidden="true"></i>
                </a>
              </li>
              {{#each this.page_items}}
              {{#if this.isActive}}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="javascript:;">{{value}}<span class="sr-only">(current)</span></a>
              </li>
              {{else}}
              <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
              {{/if}}
              {{/each}}
              <li class="page-item{{#unless this.can_go_next}} disabled{{/unless}}">
                <a class="page-link" href="?page={{next_value}}">
                  <i class="fa fa-forward" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </nav>
        </section>
        <!-- End Best Seller -->
      </div>


    </div>
  </div>
</section>
<!-- ================ category section end ================= -->

<!-- ================ top product area start ================= -->
<section class="related-product-area">
  <div class="container">
    <div class="section-intro pb-60px">
      <p>Các công thức nổi tiếng</p>
      <h2>Công thức <span class="section-intro__style">nổi bật</span></h2>
    </div>
    <div class="row mt-30">
      <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
        <div class="single-search-product-wrapper">
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-1.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-2.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-3.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
        <div class="single-search-product-wrapper">
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-4.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-5.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-6.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
        <div class="single-search-product-wrapper">
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-7.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-8.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-9.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
        <div class="single-search-product-wrapper">
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-1.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-2.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
          <div class="single-search-product d-flex">
            <a href="#"><img src="img/product/product-sm-3.png" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Canh nhân sâm</a>
              <div class="price">$170.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ top product area end ================= -->


{{#section 'js'}}
<script>
  $(document).ready(() => {
    $('.add-to-favorite').on('click', addToFavorite);
    $('.add-to-cart').on('click', addToCart);

  })
  function addToFavorite() {


    var id = $(this).data('id');
    $.ajax({
      url: '/favorite',
      type: 'POST',
      data: { id },
      success: function (result) {

      }
    })

  }
  function addToCart() {
    var id = $(this).data('id');
    console.log('id: ' + id);
    var quantity = 1;
    $.ajax({
      url: '/cart',
      type: 'POST',
      data: { id, quantity },
      success: function (result) {

        $('#cart-badge').html(result.totalQuantity);
      }
    })
  }
</script>
{{/section}}