{{#section 'css'}}
<title>Cooking</title>
{{/section}}
{{>banner}}
<!-- Start Filter Bar -->
<div class="filter-bar d-flex flex-wrap align-items-center">
  <div style="height: 35px;">

  </div>


</div>
<!-- End Filter Bar -->
<!-- Start Best Seller -->
<section class="lattest-product-area pb-40 category-list">
  <div class="row">
    {{#if check}}
    <div class="d-flex justify-content-center m-5" style="width:100%">
      <p class="h3" class="text-center"><b> Bạn chưa thích công thức nào! </b></p>
    </div>
    {{else}}
    {{#each favorite}}
    <div class="col-md-6 col-lg-4" id="item{{id}}">
      <div class="card text-center card-product">
        <div class="card-product__img">
          <img class="card-img" src="{{imagepath}}" alt="">
          <ul class="card-product__imgOverlay">
            <li><button onclick="location.href='/courses/{{id}}'"><i class="ti-search"></i></button></li>
            <li><button class="add-to-cart" data-id="{{id}}"><i class="ti-shopping-cart"></i></button></li>
            <li><button class="remove-to-favorite" data-id="{{id}}"><i class="ti-heart"></i></button></li>
          </ul>
        </div>
        <div class="card-body">
          <p>{{nametopic}}</p>
          <h4 class="card-product__title"><a href="/courses/{{id}}">{{namecourse}}</a></h4>
          <p class="card-product__price">${{price}}</p>
          <p>Teacher: {{fullname}}</p>
          <div class="review_item">
            <div class="media">

              <div class="media-body">

                {{{createStar rating}}}
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</section>
<!-- End Best Seller -->
</div>
</div>
</div>
</section>
<!-- ================ category section end ================= -->


{{#section 'js'}}
<script>
  $(document).ready(() => {
    $('.add-to-cart').on('click', addToCart);
    $('.remove-to-favorite').on('click', removeFavorite);
  })
  function removeFavorite(id) {
    var id = $(this).data('id');
    $.ajax({
      url: '/favorite',
      type: 'DELETE',
      data: { id },
      success: function (result) {

        $(`#item${id}`).remove();


      }
    })
  }

  function addToCart() {
    var id = $(this).data('id');
    console.log('id: ' + id);
    var quantity = 1;
    $.ajax({
      url: '/cart',
      type: 'POST',
      data: { id, quantity },
      success: function (result) {
        $('#cart-badge').html(result.totalQuantity);
      }
    })
  }


</script>
{{/section}}