{{#section "css"}}
  <title>Cooking</title>
{{/section}}
<main class="site-main" style="background-color: #FBF0E8;">
  <!--================ Hero banner start =================-->
  <section class="hero-banner">
    <div class="container">
      <div class="row no-gutters align-items-center pt-60px">
        <div class="col-5 d-none d-sm-block">
          <div class="hero-banner__img">
            <img class="img-fluid" src="/img/home/background_home.png" alt="" />
          </div>
        </div>
        <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
          <div class="hero-banner__content">
            <h3>
              Trên
              <span style="color: #D66100;">10,000 công thức</span>
              nấu ăn các
              <span style="color: #D66100;">món ăn đặc sản</span>
              ở khắp các vùng miền Việt Nam

            </h3>
            <a class="button_discover" href="/category/allCategory">Khám phá
              ngay</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Hero banner start =================-->

  <section style="background-color: #fff;">
    <div class="container">
      <div class="section-intro pb-60px">
        <p>Công thức nổi bật</p>
        <h2>Tìm kiếm <span class="section-intro__style">nhiều nhất</span></h2>
      </div>
      <!--================ Hero Carousel start =================-->
      <section class="section-margin mt-0">
        <div class="owl-carousel owl-theme hero-carousel">
          {{#each hottopic}}
            <div class="hero-carousel__slide">


              <img src="/img/home/recipe.jpg" alt="" class="img-recipe" />
              <div class="hero-carousel__slideOverlay">
                <p class="name_topic">{{nametopic}}</p>

                <div class="like_and_view">
                  <div class="like">
                    <div class="icon_like"><i class="fas fa-heart"></i></div>
                    <p class="like_count">1000</p>
                  </div>
                  <div class="view">
                    <div class="icon_view"><i class="fas fa-eye"></i></div>
                    <p class="view_count">1000</p>
                  </div>
                </div>
                <div class="name_dish">Gà nướng muối ớt</div>
                <div class="box_info">
                  <div class="price">1000 vnđ</div>
                  <a href="/category/bytopic/{{categoryid}}/{{id}}">
                    <p>Chi tiết</p>
                    <div class="icon_more"><i
                        class="fas fa-angle-right"
                      ></i></div>
                  </a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </section>
      <!--================ Hero Carousel end =================-->
    </div>
  </section>

  <!-- ================ offer section start ================= -->
  <section>
    <div class="home_banner">
      <div class="container">
        <div class="text">
          <span
            style="color: #fff; font-style: italic; font-size: 32px; margin-bottom: -1%; display: block;"
          >Khuyến mãi lên đến</span>
          <span
            style="color: #D66100; font-size: 46px; font-weight: 500; margin-bottom: -2%;  display: block;"
          >50% giá trị món ăn</span>
          <span style="color: #fff; font-size: 52px; font-weight: 500;">dành cho
            bé</span>
        </div>
        <div class="button_sale">
          Chi tiết khuyến mãi
        </div>

      </div>
    </div>
  </section>

  <!-- ================ offer section end ================= -->

  <!-- ================ hot topic section start ================= -->
  <section class="section-margin calc-60px" style="background-color: #fff;">
    <div class="container">
      <div class="section-intro pb-60px">
        <p>Công thức nổi bật</p>
        <h2>Công thức đang
          <span class="section-intro__style">khuyến mãi</span></h2>
      </div>
      {{!-- <div class="row">
          {{#each hotCourse}}
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="{{thumbnailpath}}" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button onclick="location.href='/courses/{{id}}'"><i class="ti-search"></i></button></li>
                  <li><button class="add-to-cart" data-id="{{id}}"><i class="ti-shopping-cart"></i></button></li>
                  <li><button class="add-to-favorite" data-id="{{id}}"><i class="ti-heart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>{{nametopic}}</p>
                <h4 class="card-product__title"><a href="/courses/{{id}}">{{namecourse}}</a></h4>
                <p>{{username}}</p>
                <p class="card-product__price">${{price}}</p>

                <div class="review_item">
                  <div class="media">

                    <div class="media-body">

                      {{{createStar rating}}}
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          {{/each}}
          
        </div> --}}
      <section class="section-margin mt-0">
        <div class="owl-carousel owl-theme hero-carousel">
          {{#each hottopic}}
            <div class="hero-carousel__slide">

              <img src="/img/home/recipe.jpg" alt="" class="img-fluid" />
              <div class="hero-carousel__slideOverlay">
                <p class="name_topic">{{nametopic}}</p>

                <div class="like_and_view">
                  <div class="like">
                    <div class="icon_like"><i class="fas fa-heart"></i></div>
                    <p class="like_count">1000</p>
                  </div>
                  <div class="view">
                    <div class="icon_view"><i class="fas fa-eye"></i></div>
                    <p class="view_count">1000</p>
                  </div>
                </div>
                <div class="name_dish">Gà nướng muối ớt</div>
                <div class="box_info">
                  <div class="price">1000 vnđ</div>
                  <a href="/category/bytopic/{{categoryid}}/{{id}}">
                    <p>Chi tiết</p>
                    <div class="icon_more"><i
                        class="fas fa-angle-right"
                      ></i></div>
                  </a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </section>
    </div>
  </section>
  <!-- ================ trending product section end ================= -->

  {{! <!-- ================ offer section start ================= -->
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1"
      data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <div class="offer__content text-center">
              <h3>The hottest courses today</h3>

              <p>Please come with us</p>
              <a class="button button--active mt-3 mt-xl-4" href="/category/allCategory">Learn Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ offer section end ================= --> }}

  {{! MOST VIEW }}
  <!-- ================ Best Selling item  carousel ================= -->
  {{!-- <div>
      <section class="section-margin calc-60px">
        <div class="container">
          <div class="section-intro pb-60px">
            <p>The Most View Course</p>
            <h2>Most <span class="section-intro__style">View</span></h2>
          </div>
          <div class="owl-carousel owl-theme" id="bestSellerCarousel">
            {{#each this.mostview}}
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="img-fluid" src="{{thumbnailpath}}" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button onclick="location.href='/courses/{{id}}'"><i class="ti-search"></i></button></li>
                  <li><button class="add-to-cart" data-id="{{id}}"><i class="ti-shopping-cart"></i></button></li>
                  <li><button class="add-to-favorite" data-id="{{id}}"><i class="ti-heart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <span>Topic : {{nametopic}}</span>
                <h4 class="card-product__title"><a href="/courses/{{id}}">{{namecourse}}</a></h4>
                <p>{{username}}</p>
                <span>${{price}}</span><br>
                <div class="review_item">
                  <div class="media">

                    <div class="media-body">

                      {{{createStar rating}}}
                    </div>
                  </div>

                </div>

              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
    </div> --}}
  <!-- ================ Best Selling item  carousel end ================= -->
  {{! Top New }}
  {{!-- <!-- ================ Best Selling item  carousel ================= -->
  <section class="section-margin">
    <div class="container">
      <div class="section-intro pb-60px">
        <p>Blog công thức</p>
        <h2>Tin tức <span class="section-intro__style">nổi bật</span></h2>
      </div>
      <div class="owl-carousel owl-theme" id="abc">
        {{#if this.empty}}
          <div class="card text-left">
            <div class="card-body">
              <p class="card-text">Không có công thức</p>
            </div>
          </div>
        {{else}}
          {{#each this.topnew}}
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="img-fluid" src="{{thumbnailpath}}" alt="" />
                <ul class="card-product__imgOverlay">

                  {{! <li><button><i class="ti-search"></i></button></li> }}
                  <li><button class="add-to-cart" data-id="{{id}}"><i class="ti-shopping-cart"></i></button></li>

                  <li><button onclick=" location.href='/courses/{{id}}'"><i class="ti-search"></i></button></li>
                  {{! <li><button><i class="ti-shopping-cart"></i></button></li> }}

                  <li><button class="add-to-favorite" data-id="{{id}}"><i class="ti-heart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <span>Topic: {{nametopic}}</span>
                <h4 class="card-product__title"><a
                    href="/courses/{{id}}"
                  >{{namecourse}}</a></h4>
                <span>{{username}}</span><br />
                <span class="card-product__price">${{price}}</span><br />
                {{! rating }}
                <div class="review_item">
                  <div class="media">

                    <div class="media-body">

                      {{{createStar rating}}}
                    </div>
                  </div>

                </div>

              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </section>
  <!-- ================ Best Selling item  carousel end ================= --> --}}

</main>

{{#section "js"}}
  <script>
    $(document).ready(() => { $('.add-to-favorite').on('click',addToFavorite);
    $('.add-to-cart').on('click', addToCart); }) function addToFavorite(){ var
    id = $(this).data('id'); $.ajax({ url: '/favorite', type: 'POST', data: {
    id}, success: function (result) { } }) } function addToCart() { var id =
    $(this).data('id'); console.log('id: ' + id); var quantity = 1; $.ajax({
    url: '/cart', type: 'POST', data: { id, quantity }, success: function
    (result) { $('#cart-badge').html(result.totalQuantity); } }) }
  </script>
{{/section}}