{{#section 'css'}}
<title>Cooking</title>
<link rel="stylesheet" href="/video.js/dist/video-js.css">
<link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet" />

<style type="text/css">
    .video-js .vjs-time-control {
        display: block;
    }

    .video-js .vjs-remaining-time {
        display: none;
    }
</style>
{{/section}}
{{>banner}}
<section class="blog_area single-post-area py-80px section-margin--small">
    <div class="container">
        {{#if listnull}}
        <div class="row h-100 align-items-center">
            <div class="col-sm-12">
                <div class="card shadow w-50 mx-auto">
                    <div class="card-body text-center">
                        <h1 class="card-title">Ooops!</h1>
                        <h2 class="text-danger">This course still not have some Video</h2>
                        <p class="card-text">
                            Sorry, Please return in the future
                        </p>
                        <div>
                            <a class="btn btn-primary" href="/" role="button">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Home
                            </a>
                            <a class="btn btn-success" href="../contact.hbs" role="button">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                Contact Support
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col-lg-9 posts-list">
                {{#each this.video}}
                <div class="single-post row">
                    <div class="col-lg-12">
                        <video id="my-player" class="video-js vjs-default-skin vjs-fluid" controls preload="true"
                            width="780" height="400" data-setup="{}">
                            <source src="{{videopath}}" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h3>Description </h3>
                        {{{description}}}
                    </div>
                </div>
                {{/each}}


            </div>
            <div class="col-lg-3">
                <div class="blog_right_sidebar">
                    <div class="btn-group-vertical w-100">
                        {{#each list}}
                        <div class="alert alert-primary mb-2 mt-2 w-100 text-center"> Chapter : {{chapter}}</div>
                        <a href="/video/{{idcourse}}/{{chapter}}"
                            class="list-group-item list-group-item-action text-center">{{namevideo}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

    </div>
</section>

{{#section 'js'}}
<script src="/video.js/dist/video.js"></script>
<script>
    let player = videojs('my-player', {
        fluid: true
    });

    // Play through the playlist automatically.
    $(document).ready(function () {
        if (localStorage.getItem('video') !== null) {
            var timing = (localStorage.getItem('video'));
            player.currentTime(timing);
        }
        setInterval(taketime, 700);
    });
    function taketime() {
        {
            var time = player.currentTime();
            localStorage.setItem('video', time);
        }
    }
</script>
{{/section}}