<div class="card">
    <h5 class="card-header d-flex justify-content-between">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Course by Teacher
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="/admin/allbytopic" style="font-family: 'Times New Roman', Times, serif;">Course by
                        Category</a></li>
                <li>
                    <p style="font-family: 'Times New Roman', Times, serif; margin-bottom:5px">Course by Teacher</p>
                </li>

            </ul>
        </div>
    </h5>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-sm-3">
                <div class="card mb-3">
                    <h5 class="card-header">Teacher</h5>
                    <div class="list-group list-group-flush">
                        {{#each lcTeachers}}
                        <a href="/admin/byteacher/{{id}}"
                            class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
                            {{username}}

                        </a>
                        {{/each}}
                    </div>
                </div>

            </div>
            <div class="col-sm-9">
                {{#if this.empty}}
                <div class="card-body">
                    <p class="card-text">Không có dữ liệu.</p>
                </div>
                {{else}}
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name Course</th>
                                <th scope="col">Price</th>
                                <th scope="col">View</th>
                                <th scope="col">Rating</th>

                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.course}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{namecourse}}</td>
                                <td>{{price}}</td>
                                <td>{{view}}</td>
                                <td>{{rating}}</td>
                                {{#if lock}}
                                <td class="text-right">
                                    <a name="" id="" class="btn btn-sm btn-primary"
                                        href="/admin/unlockcourse1?id={{id}}" role="button"
                                        title="Turn off the disable">
                                        <i class="fas fa-lock-open"></i>
                                    </a>
                                </td>

                                {{else}}
                                <td class="text-right">
                                    <a name="" id="" class="btn btn-sm btn-primary" href="/admin/lockcourse1?id={{id}}"
                                        role="button" title="Disable Course">
                                        <i class="fas fa-lock"></i>
                                    </a>
                                </td>
                                {{/if}}
                                <td>&nbsp;</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{/if}}
                <nav style="margin-bottom: 50px;">
                    <ul class="pagination justify-content-center">

                        <li class="page-item {{#unless this.can_go_prev}} disabled {{/unless}}">
                            <a class="page-link" href="?page={{prev_val}}" tabindex="-1" aria-disabled="true">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                            </a>
                        </li>
                        {{#each this.page_items}}
                        {{#if this.isActive}}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="javascript:;">{{value}}<span class="sr-only">(current)</span></a>
                        </li>
                        {{else}}
                        <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                        {{/if}}
                        {{/each}}
                        <li class="page-item{{#unless this.can_go_next}} disabled{{/unless}}">
                            <a class="page-link" href="?page={{next_value}}">
                                <i class="fa fa-forward" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>