<div class="card">
  
      <button class="btn btn_sort dropdown-toggle" type="button" data-toggle="dropdown">Người xem
                <span class="caret"></span></button>
 
  <ul class="dropdown-menu">
                <li>
                    <p class="sort_inactive">Người xem</p>
                </li>
                <li class="sort_active"><a href="\admin\teacher">Người chia sẻ</a></li>
  </ul>

  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Fullname</th>


        </tr>
      </thead>
      <tbody>
        {{#each this.user}}
        <tr>
          <th scope="row">{{id}}</th>
          <td>{{username}}</td>
          <td>{{email}}</td>
          <td>{{fullname}}</td>
          {{#if lock}}
          <td class="text-right">
            <a name="" id="" class="btn btn-sm btn_unlock" href="/admin/unlockstudent?id={{id}}" role="button" title="Unlock Student">
              <i class="fas fa-lock-open"></i>
            </a>
          </td>

          {{else}}
          <td class="text-right">
            <a name="" id="" class="btn btn-sm btn_lock" href="/admin/lockstudent?id={{id}}" role="button" title="Lock Student">
              <i class="fas fa-lock"></i>
            </a>
          </td>
          {{/if}}


        </tr>
        {{/each}}
      </tbody>
    </table>
    <nav>
      <ul class="pagination justify-content-center">

        <li class="page-item {{#unless this.can_go_prev}} disabled {{/unless}}">
          <a class="page-link" href="?page={{prev_val}}" tabindex="-1" aria-disabled="true">
            <i class="fa fa-backward" aria-hidden="true"></i>
          </a>
        </li>
        {{#each this.page_items}}
        {{#if this.isActive}}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="javascript:;">{{value}}<span class="sr-only">(current)</span></a>
        </li>
        {{else}}
        <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
        {{/if}}
        {{/each}}
        <li class="page-item{{#unless this.can_go_next}} disabled{{/unless}}">
          <a class="page-link" href="?page={{next_value}}">
            <i class="fa fa-forward" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  {{/if}}

</div>